<!DOCTYPE html>
<html>
<head>
  <title>ECELLAPP</title>
</head>
<body>
    <form method="post" action=".">
      {% csrf_token %}
        <table border="0">
            <tr><th><label for="title">title</label></th><td><input name="title" type="text"></input>
            </td></tr>
            <tr><th><label for="data">data</label></th><td><input name="data" type="text"></input>
            </td></tr>
            <tr><th><label for="intent_id">intent_id</label></th><td><input name="intent_id" type="text">
            </input>
            </td></tr>
        </table>
        <input type="submit" value="SEND" name="send"/>  
    </form>
    <form method="post" action=".">
      {% csrf_token %}
        <table border="0">
            <tr><th><label for="title">question</label></th><td><input name="question_id" type="text"></input>
            </td></tr>
            
        </table>
        <input type="submit" value="QUESTION_SET" name="question_set"/>  
    </form>
        <form method="post" action=".">
      {% csrf_token %}
        <table border="0">
            <tr><th><label for="title">quiz</label></th><td><input name="quiz_id" type="text"></input>
            </td></tr>
            
        </table>
        <input type="submit" value="QUIZ_SET" name="quiz_set"/>  
    </form>
     <a href="/logout">Logout</a>
</body>
</html>